<p>Hello <%= @user.name %>,</p>

<p>Your password has been successfully reset.</p>

<p>If you did not make this change, please contact support immediately.</p>

<p>Thank you,</p>
<p>Bookstore Team</p>
